<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Product Categories</h1>
        <ul>
          <li *ngFor="let category of categories" (click)="selectCategory(category)">
            {{ category }}
          </li>
        </ul>
        <app-product-list *ngIf="selectedCategory" [products]="products[selectedCategory]"></app-product-list>
      </div>
      
      // product-list.component.ts
      import { Component, Input } from '@angular/core';
      
      @Component({
        selector: 'app-product-list',
        templateUrl: './product-list.component.html',
        styleUrls: ['./product-list.component.css']
      })
      export class ProductListComponent {
        @Input() products: { name: string, likes: number }[] = [];
      
        removeProduct(index: number) {
          this.products.splice(index, 1);
        }
      }
</body>
</html>